.header {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center the header content */
}

.nav {
    width: 90%;
    margin: 0 auto; /* Add margin on each side */
}

.navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        @apply link;
        /* text-decoration: underline; */
        margin-right: 20px;
    }
}
