.postsHeaderText {
    margin: 20px 0 0px 0;
    font-size: 24px;
    font-weight: 600;
}

.postsContainer {
    justify-content: center;
    gap: 20px;
}

.markdownContainer {
    max-width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}
