@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    --spacing: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

body {
    min-height: 100%;
}

main {
    flex-grow: 1;
    overflow: auto;
}

.yarl__root {
    --yarl__color_backdrop: rgba(0, 0, 0, 0.5);
    .yarl__thumbnails_thumbnail {
        background: none;
    }
    .yarl__thumbnails_container {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
